.cover {
    width: 1300px;
    height: 55px;
    margin-left: 100px;
    position: fixed;

    h2{
        color: white;
        margin: 0;
        padding: 0;
    }

    h3{
        color: white;
        margin: 0;
        padding: 0;
    }
}