.cover {

  grid-area: f;

  background-color: darkred;
  width: 100%;
  height: 50px;
  margin: 0 auto;



  color: white;
  text-align: center;

  p {
    color: white;
    text-align: right;
    margin-right: 30px;
  }
}